<style>
  .is-invalidate{
    border-color:red;
  }
  .active{
    background:blue;
  }
</style>
<div>
  <h3>Crea una nota</h3>
  <form [formGroup]="formNote">
    <div>
      <label>Title</label>

      <input [class.is-invalidate]="formNote.get('title')?.touched && formNote.get('title')?.invalid"
       type="text"
       formControlName="title"/>
    </div>
    <div>
      <label>Body</label>
      <textarea formControlName="body">

      </textarea>
    </div>
    <button (click)="saveNote($event)" [style.background]="isActive ? 'rgba(40,40,255)' : 'red'">save</button>
  </form>
  {{note.title}}
  <hr/>
  <form class="form-group p-3">
    <div class="form-group col-md-2">
      <label for="nombre">Nombe</label>
      <input type="text" class="form-control" name="title" [(ngModel)]="note.title"/>
    </div>
    <div class="form-group col-md-2">
      <label for="body">Cuerpo</label>
      <textarea class="form-control" name="body" [(ngModel)]="note.body">

      </textarea>
      <button class="btn btn-secondary mt-1" (click)="saveNote($event)">Agregar</button>
    </div>
  </form>
</div>
